<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <aside>
        <div class="navbar">
            <div class="logo">
            <h2 class="navtitle">Corny</h2>
            <h5 class="navsub">A cornicopia for all of your corn-based recipe needs.</h5>
            </div>
            <div class="navbar">
            <ul class="navlink">
                <li><a href="#" class="navlink">Sign Up / Login</a></li>
                <li><a href="#" class="navlink">Add A Recipe</a></li>
            </ul>
            </div>
        </div>
    </aside>
    <main class="container">
    {{{ body }}}
    </main>
</body>
</html>