body {
    display: flex;
    margin: 0 auto;
    width: 925px;
}

/* SECTIONS */

aside {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    padding: 0 10px;
    width: 325px;
}

main {
    width: 100%;
}

/* NAV BAR */

.navbar {
    background-color: #fcf8c8;
    border-radius: 10px;
    padding: 10px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.navtitle {
    color: #F9ED69;
    display: flex;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    justify-content: center;
    margin: 0 auto;
    text-shadow: -3px 0 #26a300, 0 3px #26a300, 3px 0 #26a300, 0 -3px #26a300;
    transform: rotate(-20deg);
}

.navsub {
    border-bottom: 2px solid #26a300;
    color: #26a300;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0 0 15px 0;
    padding: 25px;
    text-align: center;
}

.navlink {
    color: #99583C;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
}

/* MAIN CONTENT */

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    border: 1px solid #26a300;
    border-radius: 10px;
    color: #26a300;
    font-size: 12px;
    margin: 10px 0 0 0;
}

.btn:hover {
    background-color: #26a300;
    color: #FFF;
}

.btn-recipe {
    background-color: #f9d4c4;
    border: 1px solid #2C1A11;
    color: #2C1A11;
    font-size: 12px;
    margin: 10px 10px 0 0;
}

.btn-recipe:hover {
    background-color: #2C1A11;
    color: #f9d4c4;
    font-size: 12px;
    margin: 10px 0 0 0;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card {
    background-color: #f9d4c4;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px 0;
    padding: 20px;
    width: 100%;
}

.date-user {
    font-size: 12px;
}

.form-group {
    padding: 0 0 10px 0;
}

h3 {
    background-color: #C8B2CB;
    border: 1px solid #1D0C1F;
    border-radius: 10px;
    color: #1D0C1F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 25px;
    padding: 5px 50px 5px 50px;
    text-align: center;
    width: 100%;
}

.ingredients-list {
    padding: 0 0 20px 0;
}

.instructions-list {
    padding: 0 0 15px 0;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.login {
    color: #26a300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.recipes {
    list-style: none;
    padding: 0;
}

.user {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    padding: 15px 0 10px 0;
}