<div class="form-container">
	<h4>New User</h4>
	<form action="/user" method="POST" class="user-form">
		<p class="input-field">
			<textarea name="user[username]" cols="30" rows="1" placeholder="Username"></textarea>
		</p>
		<p class="input-field">
			<textarea name="user[email]" cols="30" rows="1" placeholder="Email"></textarea>
		</p>
		<p class="input-field">
			<textarea name="user[password]" cols="30" rows="1" placeholder="Password"></textarea>
		</p>
		<p class='input-field'>
			<input type="submit" value='Submit' class='btn'>
		</p>
	</form>
</div>