<div class="form-container">
	<h4>New Recipe</h4>
	<form action="/recipe" method="POST" class="recipe-form">
	<p class="input-field">
		<textarea name="recipe[title]" cols="30" rows="10" placeholder="Title"></textarea>
	</p>
	<p class='input-field'>
		<input type="submit" value='Submit' class='btn'>
	</p>
	</form>
</div>