<div class="form-container">
    <h4>Delete Recipe</h4>
    <form action="/recipe/:id" method="DELETE" class="recipe-form">
        <p class="input-field">
            <textarea name="recipe[title]" cols="30" rows="1" placeholder="Title"></textarea>
        </p>
        <p class="input-field">
            <input type="submit" value="Destroy" class="btn">
        </p>
    </form>
</div>
